@model MVC.AX.Models.Person
<div id="row-panel-id-@Html.DisplayFor(p => p.Phonenumber)" class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <span>@Html.DisplayFor(p => p.Name)</span>
                    <form action="@Url.Action("Index")" method="post"></form>
                </div>
                <div class="col-md-2">
                    @*<a href="#"><button class="btn btn-primary btn-xs pull-right btnMinWidth">Edit</button></a>*@
                    @Ajax.ActionLink("Edit", "EditPeople", new { id = Model.Name },
                       new AjaxOptions {
                           UpdateTargetId = "info-panel-" + Model.Phonenumber,
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "GET"
                       })
                    <span> | </span>
                    @Ajax.ActionLink("Delete", "Delete", new { id = Model.Name },
                       new AjaxOptions {
                           UpdateTargetId = "people-container",
                           InsertionMode = InsertionMode.ReplaceWith,
                           HttpMethod = "GET"
                       })

                </div>
            </div>
        </div>
        
        <div id="info-panel-@Html.DisplayFor(p => p.Phonenumber)" class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <span><strong>Phonenumber: </strong>@Html.DisplayFor(p => p.Phonenumber)</span>
                </div>
                <div class="col-md-6">
                    <span><strong>City: </strong>@Html.DisplayFor(p => p.City)</span>
                </div>
            </div>
        </div>
    </div>
</div>
